.main_card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_image {
  background-color: papayawhip;
  border-radius: 50%;
  padding: 20px;
  min-height: 260px;
  min-width: 260px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 10px 10px #d47a7a;
}

.profile_info {
  font-family: exo;
  text-align: center;
  background-color: #43b3e5;
  margin: 30px 0px 50px 0px;
  max-width: 60%;
  border-radius: 10px;
  padding: 15px;
  color: black;
  box-shadow: 10px 10px 0px 0px white;
}

.profile_info p {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.analytics_card {
  background-color: #43b3e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  border-style: dashed;
  border-color: papayawhip;
  border-radius: 50px 50px 0px 0px;
}

#profile_image {
  background-color: blue;
}

#chartContainer {
  min-height: 600px;
  min-width: 600px;
  box-shadow: 0px 0px 10px 0px;
  margin-top: 30px;
}
