.main_card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.34);
  border-radius: 10px;
}

.profile_card {
  display: inherit;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile_image {
  background-color: papayawhip;
  border-radius: 50%;
  padding: 20px;
  min-height: 260px;
  min-width: 260px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.34);
  border-style: solid;
  border-width: 2px;
  border-color: #a7a7a7;
}

.profile_image div {
  height: 260px;
  width: 260px;
  background-size: cover;
  border-radius: 50%;
  box-shadow: inset 8px 7px rgba(0, 0, 0, 0.2);
}

.profile_info {
  font-family: exo;
  color: white;
  text-align: center;
  background-color: #014a7f;
  margin: 30px 0px 50px 30px;
  max-width: 40%;
  border-radius: 10px 0px 10px 0px;
  padding: 15px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.34);
}

.profile_info p {
  background-color: white;
  color: black;
  margin-top: 2px;
  padding: 5px;
  border-radius: 10px 0px 10px 0px;
  box-shadow: inset 4px 4px rgba(0, 0, 0, 0.34);
}

.analytics_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

#profile_image {
  background-color: blue;
}

#chartContainer {
  min-height: 600px;
  min-width: 800px;
  box-shadow: 0px 0px 10px 0px;
  margin: 30px 0px 30px 0px;
}

.chart_description {
  width: 800px;
  font-family: exo;
  background-color: white;
  font-size: 1.2em;
  padding: 15px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.34);
  border-style: solid;
  border-width: 2px;
  border-color: #a7a7a7;
  line-height: 1.6em;
}

.word_bubble_description {
  width: 800px;
  font-family: exo;
  background-color: white;
  font-size: 1.2em;
  padding: 15px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.34);
  border-style: solid;
  border-width: 2px;
  border-color: #a7a7a7;
  line-height: 1.6em;
}

.description_title {
  text-align: center;
  font-size: 1.4em;
  color: #32aadc;
}

#dem_percent {
  color: #014a7f;
}

#rep_percent {
  color: #d8201a;
}
