@font-face {
    font-family: exo;
    src: url('/static/fonts/Exo-Light.ttf');
}

@font-face {
    font-family: pacifico;
    src: url('/static/fonts/Pacifico-Regular.ttf');
}

.feed {
  background-color: white;
  border-radius: 20px 0px 20px 0px;
  margin: 10px;
  width: 50%;
  min-height: 500px;
  text-align: center;
  top: 50%;
  box-shadow: 10px 10px 0px 0px rgb(255, 239, 213);
  border-style: solid;
  border-color: #014a7f;
}

.feed_title {
  font-size: 2em;
  height: 65px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #014a7f;
  border-radius: 15px 0px 0px 0px;
  color: white;
  font-family: exo;
}

.feed_title button {
  border-style: solid;
  border-color: white;
  background-color: #014a7f;
  border-radius: 5px;
  font-family: exo;
  font-size: 0.8em;
  padding: 5px 10px 5px 10px;
  width: 40%;
  color: white;
}

.button_focus {
  background-color: white !important;
  color: #014a7f !important;
  border-color: #014a7f !important;
}
