@font-face {
    font-family: exo;
    src: url('/static/fonts/Exo-Light.ttf');
}

.feed {
  background-color: white;
  border-radius: 20px 0px 20px 0px;
  margin: 10px;
  width: 50%;
  min-height: 500px;
  text-align: center;
  top: 50%;
  box-shadow: 10px 10px 0px 0px rgba(255, 239, 213, 0.34);
}

.feed_title {
  font-size: 2em;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 245, 255);
  border-radius: 20px 0px 0px 0px;
  color: #238d9e;
  font-family: exo;
}
