@font-face {
    font-family: exo;
    src: url('/static/fonts/Exo-Light.ttf');
}

.app {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.main_form {
  background-color: white;
  border-radius: 10px;
  padding: 0;
  margin: 10px;
  width: 30%;
  height: 50%;
  top: 50%;
  text-align: center;
  box-shadow: 10px 10px 20px 0px darkslategrey;
}

.render_element {
  width: 100%;
}

.form_title {
  font-size: 2em;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#9deeff, #2fb4ca);
  border-radius: 10px 10px 0px 0px;
  color: white;
  font-family: exo;
}

form p {
  font-size: 1.5em;
  font-family: exo;
  color: #FF8B00;
}

form {
  margin-top: 5%;
}

.input_username {
  width: 60%;
  line-height: 2em;
  font-size: 1.2em;
  border-style: groove;
  border-radius: 5px;
}

.input_button {
  border: hidden;
  margin: 20px;
  height: 50px;
  width: 100px;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: #2fb4ca;
  color: white;
  font-family: exo;
}

.input_button:hover {
  border-style: solid;
  border-color: #2fb4ca;
  color: #2fb4ca;
  background-color: white;
}
