.loading_card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.loading_animation {
  background-color: white;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px 0px darkslategrey;
}

.animation {
  content: url('/static/resources/balls_loading_gif1.gif');
}

#phrase {
  margin: 50px;
  font-family: exo;
  background-color: white;
  font-size: 2em;
  box-shadow: 10px 10px 20px 0px darkslategrey;
}

.on_phrase_show {
  padding: 10px;
}
